@import "mixins";

// ↓↓↓ FONTS ↓↓↓
@mixin font($size) {
    font-size: $size;
}

@mixin font-smallest {
    @include font(1rem);
}

@mixin font-small {
    @include font(1.5rem);
}

@mixin font-input {
    @include font(2rem);
}

@mixin font-medium {
    @include font(2.4rem);
}

@mixin font-large {
    @include font(3.2rem);
}

@mixin font-largest {
    @include font(4.2rem);
}

@mixin font-intro {
    @include font(8rem);
    text-align: center;
    padding: 2vw;
}

// ↓↓↓ VARIABLES ↓↓↓
$bd-rad-medium: 10px;
$pad-medium-vw: 0.2vw 0.8vw;
$pad-intro-vw: 1vw 2vw;
$margin-cube: 1vw;
$margin-header: 2vw;
$pad-right-vw: 0.5vw;
$menu-vw: 6vw;

@mixin pad-box($padding: $pad-medium-vw) {
    padding: $padding;
}

@mixin pad-box-intro {
    @include pad-box($pad-intro-vw);
    @include centered-block(40vw);
    background-color: rgba(white, 0.8);

}

@mixin pad-box-1($bg-color, $bd-rad: $bd-rad-medium) {
    @include pad-box;
    border-radius: $bd-rad-medium;
    background-color: $bg-color;
}

@mixin circle-box($bg-color, $size-of-parent: 40%) {
    border-radius: 50%;
    background-color: $bg-color;
    width: $size-of-parent;
    height: $size-of-parent;
}

// ↓↓↓ MARGINS ↓↓↓
@mixin margin($margin: 1vw, $bd-rad: $bd-rad-medium) {
    margin: $margin;
    border-radius: $bd-rad;
}

// ↓↓↓ FLEX BOX FOR THE CONTENT OF MAIN SECTION ↓↓↓
@mixin main-flex {
    @include centered-block;
    width: 40vw;
    display: flex;
}

@mixin main-flex-cubes {
    @include main-flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

@mixin main-flex-buttons {
    @include main-flex;
}

// ↓↓↓ HIDE ELEMENT ↓↓↓
.hidden {
    display: none;
}

.shining {
    box-shadow: 0px 0px 12px 6px rgba($primary-color, 0.5);
    color: var(--primary-color-darkest);
}