@import "mixins";
@import "components"; 

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--black-older);
    background-color: var(--white-older);

    min-height: 100vh;
}

.intro__players {
    &-container {
        @include pad-box-intro;
    }

    &-h2 {
        text-align: center;
    }
}

.intro {
    position: absolute;
    z-index: 10;
    color: var(--grey-color-darkest);
    background-color: rgba(0, 0, 0, 0.85);
    min-width: 100vw;
    min-height: 100vh;

    &__submit-players {
        @include pad-box-intro;
        margin-top: 1vw;
    }

    &__submit-form {
        display: block;
        margin: $margin-cube;
        background-color: var(--white-older);
        width: 33%;
        padding: $pad-medium-vw;
        border: none;
        border-radius: $bd-rad-medium;
        @include font-input;
    }

    &__submit-btn {
        @include button-dark;
        color: var(--white-oldest);
        font-size: 2rem;
        display: block;
        margin: auto;
        margin-top: 3vw;
    }

    .icon {
        $width: 7rem;
        width: $width; 
        height: $width;
        margin: 0.5em;
        fill: var(--grey-color-darkest);

        transition: all 0.3s;

        &:hover {
            cursor: pointer;
            fill: var(--primary-color-default);
        }
      }
    
    &__h1 {
        @include font-intro;
        color: var(--white-oldest)
    }

    &__players {
        @include flex-container;
        align-items: baseline;
        justify-content: center;

        &-num {
            @include font-intro;
        }
    }
}

.btn {
    @include button-light;
}

.grid {
    display: grid;
    grid-template-columns: 80vw auto;
    grid-template-rows: 20vh auto;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: var(--primary-color-default);
    color: var(--white-older);
    @include margin;
    @include shadow;

    @include flex-container;
    align-items: center;
    justify-content: space-between;

    &__menu {
        &-icon {
            @include flex-container;
            //width: $size-100px;
            width: $menu-vw;
            height: $menu-vw;
            margin-left: $margin-header;
            fill: var(--white-older);

            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                fill: var(--primary-color-darkest);
            }
        }
    }

    .wrapper-header {
        & > * {
            display: inline-block;
            margin-right: $margin-header;
        }
    }

    &__player {
        @include pad-box-1(var(--primary-color-lightest));
        @include shadow;
    }

    &__player-text {
        @include font-large;
        padding-right: $pad-right-vw;
        color: var(--primary-color-darkest);
    }

    &__player-name {
        @include font-largest;
        @include pad-box-1(var(--primary-color-lighter));
    }

    &__score {
        @include pad-box-1(var(--primary-color-lightest));
        @include shadow;
    }

    &__score-text {
        @include font-large;
        padding-right: $pad-right-vw;
        color: var(--primary-color-darkest)
    }

    &__score-value {
        @include font-largest;
        @include pad-box-1(var(--primary-color-lighter));
    }
    
}

.main {
    grid-column: 1 / span 1;
    grid-row: 2 / -1;

    .cubes {
        @include main-flex-cubes;

        &__buttons {
            @include main-flex-buttons;
            
            &-btn {
                display: flex;
                @include button-dark;
                color: var(--white-older);
                margin: auto;
                margin-top: 2vw;
                @include font-largest;
                padding: $pad-intro-vw;
                width: 45%;
                justify-content: center;
                @include shadow;
            }
        }
    }

    &__cube {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        width: 10vw;
        height: 10vw;

        border: 2px solid var(--grey-color-lightest);
        margin: $margin-cube;

        @include shadow-small;
        border-radius: $bd-rad-medium;

        transition: all 0.3s;

        &:hover {
            cursor: pointer;
            background-color: var(--primary-color-lightest)
        }

        .dot {
            @include circle-box(var(--primary-color-darker));
            border: 2px solid var(--black-oldest);

            &--1 {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            &--2 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            &--3 {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }

            &--4 {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            &--5 {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }

            &--6 {
                grid-column: 3 / 4;
                grid-row: 2 / 3;
            }

            &--7 {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }

            &--8 {
                grid-column: 2 / 3;
                grid-row: 3 / 4;
            }

            &--9 {
                grid-column: 3 / 4;
                grid-row: 3 / 4;
            }
        }
    }
}

.aside {
    grid-column: 2 / span 1;
    grid-row: 2 / -1;
    background-color: var(--primary-color-darkest);
    color: var(--white-older);
    @include margin;
    margin-top: 0;
    @include shadow;

    @include flex-container;
    flex-flow: column;
    //align-items: center;

    &__player {
        //border-bottom: 2px dotted var(--white-older);
        margin: 0.8vw;
        background-color: var(--primary-color-lighter);
        @include pad-box-1(var(--primary-color-lighter));
        align-self: center;
        width: 75%;
    }

    &__h2 {
        @include font-largest;
        margin: 2vw 0;
        align-self: center
    }

    &__player-name {
        @include font-large;
        text-align: center
    }

    &__player-text {
        @include font-medium;
    }

    &__player-score {
        @include font-medium;
    }
}