@import "mixins"; 

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--black-older);
    background-color: var(--white-older);

    min-height: 100vh;
}

.btn {
    @include button-light;
}

.grid {
    display: grid;
    grid-template-columns: 80vw auto;
    grid-template-rows: 20vh auto;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: var(--primary-color-default);
    color: var(--white-older);

    @include flex-container;
    align-items: center;
    justify-content: space-evenly;

    &__player-text {
        @include font-large;
    }

    &__player-name {
        @include font-largest;
    }

    &__score-text {
        @include font-large;
    }

    &__score-value {
        @include font-largest;
    }
    
}

.main {
    grid-column: 1 / span 1;
    grid-row: 2 / -1;

    &__cube {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        width: 10vw;
        height: 10vw;

        border: 2px solid var(--black-oldest);

        @include shadow-small;
        border-radius: $bd-rad-medium;

        .dot {
            @include circle-box(var(--primary-color-darker));
            border: 2px solid var(--black-oldest);
        }
    }
}

.aside {
    grid-column: 2 / span 1;
    grid-row: 2 / -1;
    background-color: var(--primary-color-darkest);
    color: var(--white-older);

    @include flex-container;
    flex-flow: column;
    align-items: center;

    &__player {
        //border-bottom: 2px dotted var(--white-older);
        margin: 0.8vw;
        background-color: var(--primary-color-lighter);
        @include pad-box-1(var(--primary-color-lighter))
    }

    &__h2 {
        @include font-largest;
        margin-top: 2vw;
    }

    &__player-name {
        @include font-large;
    }

    &__player-text {
        @include font-medium;
    }

    &__player-score {
        @include font-medium;
    }
}