@import "mixins"; 

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--black-older);
    background-color: var(--white-older);

    min-height: 100vh;
}

.btn {
    @include button-light;
}

.grid {
    display: grid;
    grid-template-columns: 80vw auto;
    grid-template-rows: 20vh auto;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: var(--primary-color-default);
    color: var(--white-older);

    @include flex-container;
    align-items: center;
    justify-content: space-evenly;

    &__player-text {
        @include font-large;
    }

    &__player-name {
        @include font-largest;
    }

    &__score-text {
        @include font-large;
    }

    &__score-value {
        @include font-largest;
    }
    
}

.main {
    grid-column: 1 / span 1;
    grid-row: 2 / -1;
}

.aside {
    grid-column: 2 / span 1;
    grid-row: 2 / -1;
    background-color: var(--primary-color-darkest);
    color: var(--white-older);

    @include flex-container;
    flex-flow: column;
    align-items: center;

    &__player {
        border-bottom: 2px solid var(--white-older);
        margin: 0.8vw;
    }

    &__h2 {
        @include font-largest;
    }

    &__player-name {
        @include font-large;
    }

    &__player-text {
        @include font-medium;
    }

    &__player-score {
        @include font-medium;
    }
}